//// components

/// animations
@mixin fadeIn($duration: 1s, $delay: 0s) {
  animation: fadeIn ease-in-out $duration $delay;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/// end animations

// gradient text
.text--gradient {
  @supports (-webkit-background-clip: text) {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  color: $text--main;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// scroll next
@mixin scroll-next {
  div {
    width: 2px;
    height: 3.5rem;
    background-color: $accent--sub;
    z-index: 8000;
    animation: scroll-next ease-in-out infinite 3s;
  }
}
@keyframes scroll-next {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 3.5rem;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

// section heading
.section-heading {
  @include mq(pc) {
    text-align: center;
  }
  margin: 1rem 0.5rem;
  h2 {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $border--main;
      margin: 0.5rem 0;
      @include mq(pc) {
        margin: 1rem 0 0.5rem 0;
      }
    }
  }
}

// grid cards
.container--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
  @include mq(tab) {
    & {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
  @include mq(pc) {
    & {
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  .card {
    // border: 1px solid $border--main;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: 0.3s;
    // &:hover {
    //   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    // }
    h3 {
      margin: 0;
      font-size: 1.5rem;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $border--main;
        margin: 0.4rem 0;
        @include mq(pc) {
          margin: 0.6rem 0;
        }
      }
    }
    p {
      line-height: 1.7rem;
    }
    p:nth-child(2) {
      margin-top: 1rem;
    }
    img {
      max-width: 100%;
    }
  }
}

// icons
.icon {
  fill: $text--main;
}
//// end components
