* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  scroll-behavior: smooth;
}

@media screen and (min-width: 601px) {
  .sp--only {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .pc--hidden {
    display: none;
  }
  .sp--only {
    display: none;
  }
}

.container {
  max-width: 100vw;
}

@media screen and (min-width: 1025px) {
  .container {
    margin: 0 auto;
    max-width: min(70vw, 1200px);
  }
}

:root {
  --color-text--main: #333;
  --color-text--sub: #666;
  --color-accent--main: #9708cc;
  --color-accent--sub: #43cbff;
  --color-bg--main: #fff;
  --color-bg--sub: #f5f5f5;
  --color-border--main: #ddd;
  --color-border--sub: #e6e6e6;
}

:root[data-theme="dark"] {
  --color-text--main: #fff;
  --color-text--sub: #ccc;
  --color-accent--main: #736efe;
  --color-accent--sub: #5efce8;
  --color-bg--main: #333;
  --color-bg--sub: #444;
  --color-border--main: #666;
  --color-border--sub: #777;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text--main: #fff;
    --color-text--sub: #ccc;
    --color-accent--main: #736efe;
    --color-accent--sub: #5efce8;
    --color-bg--main: #333;
    --color-bg--sub: #444;
    --color-border--main: #666;
    --color-border--sub: #777;
  }
}

body {
  background-color: var(--color-bg--main);
  color: var(--color-text--main);
}

a {
  color: var(--color-accent--main);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: var(--color-accent--sub);
}

.background--gradient {
  background-image: linear-gradient(135deg, var(--color-accent--main) 10%, var(--color-accent--sub) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#theme-toggler {
  z-index: 7000;
  position: fixed;
  top: 1.5rem;
  right: 0.5rem;
  width: 64px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#theme-toggler .theme-toggler-icon {
  height: 30px;
  padding: 2px 0;
}

#theme-toggler .theme-toggler-icon svg {
  width: 100%;
  height: 100%;
  fill: var(--color-text--main);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text--gradient {
  color: var(--color-text--main);
}

@supports (-webkit-background-clip: text) {
  .text--gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

@-webkit-keyframes scroll-next {
  0% {
    height: 0;
  }
  70% {
    height: 3.5rem;
  }
  100% {
    height: 0;
  }
}

@keyframes scroll-next {
  0% {
    height: 0;
  }
  70% {
    height: 3.5rem;
  }
  100% {
    height: 0;
  }
}

.section-heading {
  margin: 1rem 0.5rem;
}

@media screen and (min-width: 1025px) {
  .section-heading {
    text-align: center;
  }
}

.section-heading h2 {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.container--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1025px) {
  .container--grid {
    margin: 0 auto;
    max-width: min(70vw, 1200px);
  }
}

.container--grid .card {
  border: 1px solid var(--color-border--main);
  border-radius: 0.5rem;
  padding: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container--grid .card:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.container--grid .card .heading--card {
  margin: 0;
  font-size: 1.5rem;
}

.container--grid .card .heading--card:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-border--main);
  margin: 0.4rem 0;
}

.container--grid .card p:nth-child(2) {
  margin-top: 1rem;
}

.container--grid .card img {
  max-width: 100%;
}

#menu {
  position: fixed;
  z-index: 8500;
  height: 100vh;
  padding: 2rem;
  top: 0;
  right: -100vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  padding: 0.3rem 1rem;
}

#menu ul li a {
  font-size: 5vw;
  color: #f5f5f5;
}

#nav-toggler {
  position: fixed;
  top: 1.5rem;
  left: 0.5rem;
  padding: 1rem;
  z-index: 9999;
  cursor: pointer;
}

#nav-toggler #nav-toggler-icon {
  width: 2rem;
  height: 2px;
  background-color: var(--color-text--main);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#nav-toggler #nav-toggler-icon:before, #nav-toggler #nav-toggler-icon:after {
  content: "";
  width: 2rem;
  height: 2px;
  background-color: var(--color-text--main);
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#nav-toggler #nav-toggler-icon:before {
  -webkit-transform: translateY(0.6rem);
          transform: translateY(0.6rem);
}

#nav-toggler #nav-toggler-icon:after {
  -webkit-transform: translateY(-0.6rem);
          transform: translateY(-0.6rem);
}

#nav-toggler #nav-toggler-icon.active {
  background-color: transparent;
}

#nav-toggler #nav-toggler-icon.active:before {
  -webkit-transform: rotate(45deg) translateY(0);
          transform: rotate(45deg) translateY(0);
  opacity: 1;
}

#nav-toggler #nav-toggler-icon.active:after {
  -webkit-transform: rotate(-45deg) translateY(0);
          transform: rotate(-45deg) translateY(0);
  opacity: 1;
}

#menu.active {
  right: 0;
}

#hero {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

#hero .container {
  padding: 0 4vw;
}

#hero .container h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: min(10vw, 5rem);
  font-weight: bold;
  -webkit-animation: fadeIn ease-in-out 2s 0s;
          animation: fadeIn ease-in-out 2s 0s;
}

#hero .container h1 span.animation--fadein {
  -webkit-animation: fadeIn ease-in-out 2.5s 0s;
          animation: fadeIn ease-in-out 2.5s 0s;
  font-size: min(8vw, 4rem);
}

#hero .container img {
  width: max(30vw, 10rem);
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}

#hero .scroll-next {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: 0;
}

#hero .scroll-next div {
  width: 3px;
  height: 3.5rem;
  background-color: var(--color-accent--sub);
  z-index: 8000;
  -webkit-animation: scroll-next ease-in-out infinite 3s;
          animation: scroll-next ease-in-out infinite 3s;
}

#aboutMe .container {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  #aboutMe .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#aboutMe .container .container--image {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#aboutMe .container .container--image img {
  padding-bottom: 1rem;
  width: 200px;
}

#aboutMe .container .container--image .name {
  font-weight: bold;
}

#aboutMe .container .container--image .name span {
  color: var(--color-text--sub);
}

#aboutMe .container .introduction {
  max-width: 500px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */