//// global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  transition: 0.5s;
  scroll-behavior: smooth;
  scroll-margin-top: 5rem;
  font-weight: 400;
}
//// end global
