@use "responsive" as c;
@use "theme" as t;

//// nav
// menu

#menu {
  position: fixed;
  z-index: 8500;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  top: 0;
  right: -100vw;
  transition: 0.3s;
  @extend .background--gradient;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include c.mq(pc) {
    padding: 3rem 5rem;
    transition: 0.4s;
  }
  ul {
    list-style: none;
    li {
      padding: 0.3rem 1rem;
      a {
        font-weight: 700;
        font-size: unquote($string: "min(7vw, 2.5rem)");
        color: #f5f5f5;
      }
    }
  }
}

// navigation toggler
#nav-toggler {
  position: fixed;
  top: 1.5rem;
  left: 0.5rem;
  padding: 1rem;
  z-index: 9999;
  cursor: pointer;
  #nav-toggler-icon {
    width: 2rem;
    height: 2px;
    background-color: t.$text--main;
    transition: 0.2s;
    &:before,
    &:after {
      content: "";
      width: 2rem;
      height: 2px;
      background-color: t.$text--main;
      position: absolute;
      transition: 0.3s;
      @include c.mq(pc) {
        transition: 0.4s;
      }
    }
    &:before {
      transform: translateY(0.6rem);
    }
    &:after {
      transform: translateY(-0.6rem);
    }
  }
  #nav-toggler-icon.active {
    background-color: transparent;
    &:before {
      transform: rotate(45deg) translateY(0);
      opacity: 1;
      background-color: #fff;
    }
    &:after {
      transform: rotate(-45deg) translateY(0);
      opacity: 1;
      background-color: #fff;
    }
  }
}

#menu.active {
  right: 0;
}
//// end nav
